<!--===| Event Banner Start|===-->
<section class="banner-wrapper events-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Tin tức</h1>
                <p>Cập nhật thường xuyên tin tức & sự kiện</p>
            </div>
        </div>
    </div>
</section>
<!--===| Event Banner End|===-->

<!--==| Events Content Start|==-->
<section class="event-contents-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8">
                <div class="events-contents-wrap-three">
                    <div class="event-content">
                        <img src="/frontend/img/event.jpg" alt="Event 01">
                        <div class="date-image">
                            <div class="date-text">
                                <p>T7/2018</p>
                                <span>06</span>
                            </div>
                            <div class="date-icon"></div>
                        </div>
                    </div>
                    <div class="event-heading">
                        <h1>New year special</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eleifend lacus, ut convallis dui. Etiam ac ullamcorper dolor. Sed aliquam dolor eget diam efficitur, quis ullamcorper diam ornare. Etiam congue pretium eros et cursus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, nihil fugit et ratione officiis dolor nulla inventore quasi commodi labore, saepe blanditiis unde sed doloribus, optio earum corporis temporibus deserunt.</p><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda, obcaecati illum molestiae praesentium sequi dignissimos quos eius ratione fuga, officiis fugit alias necessitatibus pariatur. Ex illum doloremque aperiam numquam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda, obcaecati illum molestiae praesentium sequi dignissimos quos eius ratione fuga, officiis fugit alias necessitatibus pariatur. Ex illum doloremque aperiam numquam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda, obcaecati illum molestiae praesentium sequi dignissimos quos eius ratione fuga, officiis fugit alias necessitatibus pariatur. Ex illum doloremque aperiam numquam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda, obcaecati illum molestiae praesentium sequi dignissimos quos eius ratione fuga, officiis fugit alias necessitatibus pariatur. Ex illum doloremque aperiam numquam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda, obcaecati illum molestiae praesentium sequi dignissimos quos eius ratione fuga, officiis fugit alias necessitatibus pariatur. </p><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eleifend lacus, ut convallis dui. Etiam ac ullamcorper dolor. Sed aliquam dolor eget diam efficitur, quis ullamcorper diam ornare. Etiam congue pretium eros et cursus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, nihil fugit et ratione officiis dolor nulla inventore quasi commodi labore, saepe blanditiis unde sed doloribus, optio earum corporis temporibus deserunt.</p>

                        <blockquote class="blockquote-reverse">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Jhone Doe <cite title="Source Title">Area Director</cite></footer>
                        </blockquote>
                    </div>
                </div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
                <div class="right-side-image">
                    <h3 class="h3">Bài viết khác</h3>
                    <% (1..5).each do |related_blog| %>
                        <div class="media event-media">
                            <div class="media-left media-top">
                                <a href="events-details.html">
                                    <img src="/frontend/img/events-right.jpg" alt="Events Right 01">
                                </a>
                            </div><!-- media left-->
                            <div class="media-body">
                                <h3><a href="events-details.html">Important for breakfast</a></h3> 
                                <p class="date-of-event">06</p> 
                                <p class="month-of-event">AUG 2015<br><span>TUESDAY</span></p>
                            </div>
                        </div>
                    <% end %>
                </div>
			</div>
		</div>
	</div>
</section>
<!--==| Events Content End|==-->