<!--===| Event Banner Start|===-->
<section class="banner-wrapper events-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Tin tức</h1>
                <p>Cập nhật thường xuyên tin tức & sự kiện</p>
            </div>
        </div>
    </div>
</section>
<!--===| Event Banner End|===-->

<!--==| Events Content Start|==-->
<section class="event-contents-wrapper">
	<div class="container">
		<div class="row">
            <% (1..4).each do |blog| %>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="events-contents-wrap-one">
                        <div class="event-content">
                            <img src="/frontend/img/event.jpg" alt="Event 01">
                            <div class="date-image">
                                <div class="date-text">
                                    <p>T7/2018</p>
                                    <span>06</span>
                                </div>
                                <div class="date-icon"></div>
                            </div>
                        </div>
                        <div class="event-heading">
                            <h1><a href="<%= erp_restaurant.blog_detail_path %>">Chương trình tri ân khách hàng 2018 và chào đón năm mới</a></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eleifend lacus, ut convallis dui. Etiam ac ullamcorper dolor. Sed aliquam dolor eget diam efficitur, quis ullamcorper diam ornare. Etiam congue pretium eros et cursus. </p>
                            <a class="btn btn-imfo btn-read-more" href="<%= erp_restaurant.blog_detail_path %>" >Chi tiết</a>
                        </div>
                    </div>
                </div>
            <% end %>
		</div>
	</div>
</section>
<!--==| Events Content End|==-->