<!--#################################
    - THEMEPUNCH BANNER -
#################################-->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="slotfade-horizontal" data-slotamount="1" data-masterspeed="500" data-title="Maki Sushi">
                <!-- MAIN IMAGE -->
                <img src="img/slider.jpg" alt="slidebg1" data-lazyload="/frontend/img/slider.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme sft start" data-hoffset="0" data-x="905" data-y="260" data-speed="2000" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  font-family: 'Merriweather', sans-serif; font-size: 33px; letter-spacing: 1px; font-style: italic; ">
                    <span> welcome to</span>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme sft" data-x="760" data-y="300" data-speed="1000" data-start="2400" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-height: auto; white-space: nowrap;font-family : 'Playball', sans-serif; font-size: 93px; letter-spacing: 2px; color: #fff;">Urbangrill.
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme sft" data-x="875" data-y="369" data-speed="1000" data-start="2700" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  font-family: 'Roboto', sans-serif; text-transform: uppercase; font-size: 18px; font-weight: 400; letter-spacing: 3px; color: #fff;">best quality food
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme sft" data-x="910" data-y="420" data-speed="1000" data-start="3000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='tr-slider-btn'>READ MORE</a>
                </div>

            </li>
            <!-- SLIDE 2 -->
            <!-- data-transition="curtain-2" data-slotamount="1" data-masterspeed="1000" -->
            <li data-transition="slotfade-horizontal" data-slotamount="1" data-masterspeed="500" data-title="Pasta sauce">
                <!-- MAIN IMAGE -->
                <img src="img/slider2.jpg" alt="slidebg1" data-lazyload="/frontend/img/slider2.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme sft start" data-x="800" data-y="255" data-speed="2000" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  font-family: 'Merriweather', sans-serif; font-size: 33px; font-style: italic;"><span>Memorable</span>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme sft" data-x="730" data-y="300" data-speed="1000" data-start="2400" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;font-family : 'Playball', sans-serif;font-size: 91px; letter-spacing: 3px; color: #fff;">Experience
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme sft" data-x="705" data-y="365" data-speed="1000" data-start="2700" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  font-family: 'Roboto', sans-serif;text-transform: uppercase; font-size: 16px;letter-spacing: 3px; color: #fff;">with impeccable service and great food
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme sft" data-x="820" data-y="415" data-speed="1000" data-start="3000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='tr-slider-btn'>Veiw Our Food Menu</a>
                </div>
            </li>
            <!-- SLIDE  3-->
            <li data-transition="slotfade-horizontal" data-slotamount="1" data-masterspeed="500" data-title="Chef's finishing touch">
                <!-- MAIN IMAGE -->
                <img src="img/slider3.jpg" alt="slidebg1" data-lazyload="/frontend/img/slider3.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme sft start" data-x="590" data-y="245" data-speed="2000" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  font-family: 'Merriweather', sans-serif; font-size: 33px; font-style: italic;text-transform:capitalize;font-weight:400;"><span>We take our</span>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme sft" data-x="360" data-y="300" data-speed="1000" data-start="2400" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;font-family : 'Playball', sans-serif;font-size: 91px; color: #fff;">Responsibilities
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme sft" data-x="390" data-y="365" data-speed="1000" data-start="2700" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  font-family: 'Roboto', sans-serif;text-transform: uppercase; font-size: 14px;letter-spacing: 4px; color: #fff;">very seriously – from the environment
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme sft" data-x="center" data-y="410" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='tr-slider-btn'>Book a Table Now</a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>

<!--===| Welcome Area Start===|-->
<section class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="welcome-note text-center">
                    <h1>welcome</h1>
                    <h2> to urbangrill</h2>
                    <p class="note"><strong>Urbangrill was founded in Month of May</strong></p>
                    <p>Urbangrill was founded in May of 2015 “A truly wonderful restaurant.”The cuisine it serves is created with the utmost atten serves is created with</p>
                    <p>tion to details, delicatine-tuned skills, a spirit of innovation Urbangrill was founded in May of 2015 “A truly wonderful restaurant.”The cuisine is our special asset.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-6  col-md-6 first-column">
                        <div class="upcoming-event text-center">
                            <h3>upcoming event</h3>
                            <p class="blue-night">Live Blues Night</p>
                            <div class="date-times text-center">
                                <p class="date-upcoming">06</p>
                                <p class="month-day"><span>JUN 2015</span><br>saturday</p>
                            </div>
                            <div class="time text-center">
                                <p>07 pm</p>
                            </div>
                            <div class="bbq-party">
                                <p>Join with us for a delicious summer <br> BBQ and enjoy good<span class="read-more"><a class="text-right" href="#">Join now..</a></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 ">
                        <div class="grid">
                            <figure class="effect-cheff">
                                <img class="img-responsive" src="img/food-welcome.jpg" alt="Food Welcome 1" />
                                <figcaption>
                                    <h2>Monthly Special</h2>
                                    <p>2 courses for $10.95 <br>or 3 courses for $12.95</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6  col-md-6 column-margin clear-left">
                        <div class="grid">
                            <figure class="effect-cheff">
                                <img src="img/food-welcome-02.jpg" alt="Food Welcome 2" />
                                <figcaption>
                                    <h2>our chef</h2>
                                    <p>Our best professional chef</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 column-margin">
                        <div class="upcoming-event-last text-center">
                            <h3>Chilli cooking lesson</h3>
                            <p class="blue-night">Do you love cooking?</p>
                            <div class="bbq-party">
                                <p>Aliquam ullamcorper finibus lorem ut Aliquam sed aliquet eros</p>
                            </div>
                            <div class="read-more pull-right">
                                <a class="text-right" href="#">Read More..</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===| Welcome Area End===|-->


<!--===| Service Start ===|-->
<section class="services">
    <div class="services-overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                    <h1>Relevant services</h1>
                    <p class="slogan">Fresh and Healthy Food Availale </p>
                    <ul id="myTab" class="nav nav-tabs">
                        <li><a href="#tab-features" data-toggle="tab" aria-expanded="true"><i class="fa fa-wifi"></i><br>Free Wifi</a></li>
                        <li class="active"><a href="#extra" data-toggle="tab" aria-expanded="false"><i class="fa fa-taxi"></i><br>Free Parking</a></li>
                        <li><a href="#home-delivery" data-toggle="tab" aria-expanded="false"><i class="fa fa-bicycle"></i><br>Home Delivery</a></li>
                        <li><a href="#custom" data-toggle="tab" aria-expanded="false"><i class="fa fa-cubes"></i><br>Play ground</a></li>
                    </ul>
                    <div class="panel-group visible-xs" id="myTab-accordion"></div>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade" id="tab-features">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">Urbangrill offers free wifi </a></h2>
                                    <p>Enjoy free high-speed wifi. Simply click on Urbngrill wifi and ask any of our staff for login details. Now you can enjoy uninterrupted video streaming and downloads as much as you want...</p>
                                    <a class="btn btn-default btn-link" href="#" role="button">view more</a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="custom">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">We have a safe and secured play area</a></h2>
                                    <p> Enjoy your dining experience knowing that your children are safe and secure in our playground. We have an array of children's toys to keep them busy while you dine...</p>
                                    <a class="btn btn-default btn-link" href="#" role="button">view more</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade active in" id="extra">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">We have valet parking facilities</a></h2>
                                    <p>Urbangrill provides its customers with valet parking facilities that contribute to a positive overall dining experience. This way you don't have to waste time looking for a parking space...</p>
                                    <a class="btn btn-default btn-link" href="#" role="button">view more</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="home-delivery">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">Urbangrill also provides home deliveries</a></h2>
                                    <p>Our home delivery service allows you to order your favorite foods so that you can enjoy it from the comfort of your home, best for beating the traffic...</p>
                                    <a class="btn btn-default btn-link" href="#" role="button">view more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.tan-content-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--===| Service End ===|-->

<!--===| Food Menu Start ===|-->
<section class="section-padding food-menu-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>food menu</h1>
                <strong class="slogan">Fresh and Healthy Food Availale  </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2 class="item-name">Appetizer</h2>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-01.png" alt="Food Menu 01">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>Bacon Ranch Salad<span>$8</span></h2>
                        <p>Premium Bacon Ranch Salad</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-02.png" alt="Food Menu 02">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>Salad with Crispy Chicken <span>$21</span></h2>
                        <p>Salad with Crispy Chicken</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-03.png" alt="Food Menu 03">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>Southwest Salad <span>$11</span></h2>
                        <p>Salad with Grilled Chicken </p>
                    </div>
                    <!--/.media body-->
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-xs-12 col-md-6">
                <h2 class="item-name responsive">main course</h2>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-04.png" alt="Food Menu 04">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>ORGANIC EGG <span>$48</span></h2>
                        <p>Ratte potato, chorizo iberico, buckwheat</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-05.png" alt="Food Menu 05">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>BEETROOT COLLECTION <span>$61</span></h2>
                        <p>‘Burrata artigiana’, honeycomb, horseradish </p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-06.png" alt="Food Menu 06">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>CONFIT RAINBOW TROUT <span>$39</span></h2>
                        <p>Kurobuta pork, miso caramel, yuzu</p>
                    </div>
                    <!--/.media body-->
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2 class="item-name">desserts</h2>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-07.png" alt="Food Menu 07">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>VICTORIA PINEAPPLE<span>$35</span></h2>
                        <p>Coconut sablé, fromage blanc, passionfruit</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-08.png" alt="Food Menu 08">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>CHOCONUTS ‘GRAND CRU <span>$35</span></h2>
                        <p>Tastes &amp; textures </p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-09.png" alt="Food Menu 09">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>GARIGUETTES’ STRAWBERRY FEUILLES <span>$11</span></h2>
                        <p>Confit lemon, filo pastry, fromage blanc </p>
                    </div>
                    <!--/.media body-->
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-xs-12 col-md-6">
                <h2 class="item-name responsive">drinks</h2>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-10.png" alt="Food Menu 10">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>White Wines <span>$135</span></h2>
                        <p>France - Bourgogne / Alsace</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-11.png" alt="Food Menu 11">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>Red Wine <span>$211</span></h2>
                        <p>Barolo " Monvigliero ", Fratelli Alessandria, Italy</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-12.png" alt="Food Menu 12">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>port<span>$131</span></h2>
                        <p>Jacques Selosse, Exquise, Grand Cru</p>
                    </div>
                    <!--/.media body-->
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <div class="btn-wrapper">
        <a class="btn" href="menu.html">view complete menu</a>
    </div>
</section>
<!--==| Food Menu Start |==-->

<!--==| Book A table Start |==-->
<section class="book-table-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="booking-back">
                    <div class="booking-form">
                        <h1>book a table</h1>
                        <p class="slogan">best of dining experience</p>
                        <form id="booking_form" name="bookingForm" method="post" action="php/reservation-main.php">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <input class="form-control" type="text" name="name" placeholder="name">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <input class="form-control" type="tel" name="phone" placeholder="phone">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="email-reservation" class="form-control" type="email" name="mail" placeholder="e-mail">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <input class="form-control" type="text" name="person-no" placeholder="number of person">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="datepicker" class="form-control" type="text" name="date" placeholder="date">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <input class="form-control" type="text" name="time" placeholder="time">
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <textarea class="form-control" rows="3" name="message" placeholder="message &amp; special request"></textarea>
                                </div>
                                <div class="form-group col-xs-12 reply">
                                    <div id="reservation_mail_success" class="success" style="display:none;">Your message has been sent successfully. </div>
                                    <div id="reservation_mail_fail" class="error" style="display:none;"> Sorry, error occured this time sending your message. </div>
                                </div>
                                <button id="send-message-reservation" type="submit" class="btn">make a reservation</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="wow slideInRight col-xs-12 col-sm-6">
                <div class="booking-image">
                    <img src="img/booking-chef.png" alt="Chef">
                </div>
            </div>
        </div>
    </div>
</section>
<!--==| Book A table End |==-->

<!--===| Event Start|===-->
<section class="event-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>event</h1>
                <p class="slogan">fresh and healthy food available</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="join-event comingevent">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="events-details.html"><img src="img/blog-01.jpg" alt="Blog 01"></a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="content-holder">
                                <p class="upcoming">Upcoming Event</p>
                                <h2><a href="events-details.html">live concert 2015</a></h2>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eos suscipit earum voluptas aliquam recusandae, quae iure adipisci.</P>
                                <p id="countdown">CountDown</p>

                                <address>
      <strong>Place: </strong>
      Hall of Frame
      <br>
      <strong>Date & Time: </strong>
      <span id="event1">24 Sep 2015</span> &nbsp23:59:59
    </address>
                                <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-event">
                    <a href="events-details.html"><img src="img/blog-02.jpg" alt="Blog 02"></a>
                    <div class="content-holder">
                        <h2><a href="events-details.html">Birthday Celebration</a></h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit</P>
                        <address>
      <strong>Place: </strong>
      Bar Room
      <br>
      <strong>Date & Time: </strong>
      <span id="event2">28 Sep 2015</span> &nbsp17:30:29
    </address>
                        <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-event">
                    <a href="events-details.html"><img src="img/blog-03.jpg" alt="Blog 03"></a>
                    <div class="content-holder">
                        <h2><a href="events-details.html">BIUB convocation</a></h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit</P>
                        <address>
      <strong>Place: </strong>
      Hall of Frame
      <br>
      <strong>Date & Time: </strong>
      <span id="event3">30 Sep 2015</span> &nbsp14:30:29
    </address>
                        <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="join-event">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="events-details.html"><img src="img/blog04.jpg" alt="Blog 04"></a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="content-holder">
                                <h2><a href="events-details.html">HSCP Seminar 2015</a></h2>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eos suscipit earum voluptas aliquam recusandae, quae iure adipisci, inventore quia, quos delectus quaerat praesentium id expedita nihil illo accusantium, tempora.</p>
                                <p class="hidden-sm">Labore eos suscipit earum voluptas aliquam recusandae, quae iure adipisci, inventore quia, quos delectus quaerat praesentium id expedita nihil illo accusantium, tempora.</P>
                                <address>
      <strong>Place: </strong>
      Hall of Vinch
      <br>
      <strong>Date & Time: </strong>
      <span id="event4">01 Oct 2015</span>  &nbsp11:30:29
    </address>
                                <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--===| Event End|===-->

<!--===| Testimonial Start|===-->
<section class="section-padding testimonial-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <h1>Customer says</h1>
                <div id="testimonial" class="carousel slide carousel-fade" data-ride="carousel">


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="img/testimonial-01.jpg" alt="testimonial 01">

                            <p>I loved the ambiance and the decor at urbangrill. Their service is really awesome. I will recommend this place to my friends and will come back for sure</p>
                            <blockquote> oni Perry</blockquote>
                        </div>
                        <div class="item">
                            <img src="img/testimonial-02.jpg" alt="testimonial 02">

                            <p>I loved the seafood menu. The sauces were delicious. And my kids had a lovely time at the play area while we ordered. Keep up the good work!”</p>
                            <blockquote> steve john</blockquote>
                        </div>
                        <div class="item">
                            <img src="img/testimonial-03.jpg" alt="testimonial 03">

                            <p>I needed a place for a corporate event at the very last minute and urbangrill was so cooperative. Our event was a huge success and all the credit goes to the urbangrill management and support staff. Thank you</p>
                            <blockquote> Lisa morgan</blockquote>
                        </div>
                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonial" data-slide-to="1"></li>
                        <li data-target="#testimonial" data-slide-to="2"></li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</section>
<!--===| Testimonial End|===-->

<!--===| Start Signature Dishes Start|===-->
<section class="section-padding signature-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>signature dishes</h1>
                <p class="slogan">fresh and healthy food available</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-wrap">
                    <div id="owl-dishes" class="owl-carousel">
                        <div class="feature-image">
                            <img src="img/s-dish-01.jpg" alt="Signature Dishes 01">
                            <h2>orange beef</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>

                        <div class="feature-image">
                            <img src="img/s-dish-02.jpg" alt="Signature Dishes 02">
                            <h2>chicken for two roasted</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>
                        <div class="feature-image">
                            <img src="img/s-dish-03.jpg" alt="Signature Dishes 03">
                            <h2>black cod with miso</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>

                        <div class="feature-image">
                            <img src="img/s-dish-01.jpg" alt="Signature Dishes 01">
                            <h2>orange beef</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>
                        <div class="feature-image">
                            <img src="img/s-dish-02.jpg" alt="Signature Dishes 02">
                            <h2>chicken for two roasted</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>
                    </div>
                    <!-- /.owl-carousel -->
                    <div class="owl-controls">
                        <a class="next"><i class="flaticon-arrow427"></i></a>
                        <a class="prev"><i class="flaticon-arrow413"></i></a>
                    </div>
                </div>
                <!-- /.owl-wrap -->
            </div>
        </div>
    </div>
</section>
<!--====| End Signature Dishes End|====-->

<!--====| Gallery Start |====-->
<section class="galleri-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>gallery</h1>
                <p class="slogan">fresh and healthy food available</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-01.jpg" alt="Gallery 01" />
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-01.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-02.jpg" alt="Gallery 02">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-02.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-03.jpg" alt="Gallery 03">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-03.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-04.jpg" alt="Gallery 04">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-04.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-05.jpg" alt="Gallery 05">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-05.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-06.jpg" alt="Gallery 06">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-06.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-07.jpg" alt="Gallery 07">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-07.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-08.jpg" alt="Gallery 08">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-08.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====| Gallery End |====-->