<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3 class="footer-title">latest tweets</h3>
                    <div class="tweet-feed">
                        <div class="tweet"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3 class="footer-title">opening hour</h3>
                    <div class="open-time opening-time">
                        <p class="clock-time"><strong>monday :</strong> closed</p>
                        <p><strong>tue-fri :</strong> 8am - 12am</p>
                        <p><strong>sat-sun :</strong> 7am - 1am</p>
                        <p><strong>holydays :</strong> 12pm-12am</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3 class="footer-title">contacts</h3>
                    <div class="address">
                        <p class="icon-map"><i class="fa fa-map-marker"></i><strong>address :</strong> 4578 Marmora </p>
                        <p class="road-details">Road,1422 1st St. Napa.</p>
                        <p><i class="fa fa-phone"></i><strong>phone :</strong> <a href="tel:7072550211">(707) 255-0211</a></p>
                        <p><i class="fa fa-envelope"></i><strong>email :</strong><a href="mailto:admin@urbangrill.com"> admin@urbangrill.com</a></p>
                    </div>
                    <ul class="list-inline footer-social-list">
                        <li><a href="#"><i class="flaticon-twitter1"></i></a></li>
                        <li><a href="#"><i class="flaticon-facebook55"></i></a></li>
                        <li><a href="#"><i class="flaticon-linkedin11"></i></a></li>
                        <li><a href="#"><i class="flaticon-google116"></i></a></li>
                        <li><a href="#"><i class="flaticon-pinterest34"></i></a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3 class="footer-title">Instagram</h3>
                    <div class="images-gellary">
                        <ul>
                            <li><a href="#"><img src="img/footer-img-01.jpg" alt="Instagram 01"></a></li>
                            <li><a href="#"><img src="img/footer-img-02.jpg" alt="Instagram 02"></a></li>
                            <li><a href="#"><img src="img/footer-img-03.jpg" alt="Instagram 03"></a></li>
                            <li><a href="#"><img src="img/footer-img-04.jpg" alt="Instagram 04"></a></li>
                            <li><a href="#"><img src="img/footer-img-05.jpg" alt="Instagram 05"></a></li>
                            <li><a href="#"><img src="img/footer-img-06.jpg" alt="Instagram 06"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copy-right pull-left">
                        <p>Copyright-2015 URBANGRILL Theme by <a href="http://themerole.com">ThemeRole</a></p>
                    </div>

                    <div class="back-top pull-right">
                        <i class="fa fa-angle-up "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>