<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h3 class="footer-title">Giờ mở cửa phục vụ</h3>
                    <div class="open-time opening-time">
                        <p class="clock-time"><strong>Thứ 2 :</strong> đóng cửa</p>
                        <p><strong>Thứ 3 đến thứ 6 :</strong> 8:00 - 22:00</p>
                        <p><strong>Thứ 7 & Chủ nhật :</strong> 7:00 - 23:00</p>
                        <p><strong>Ngày lễ :</strong> 12:00 - 23:00</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h3 class="footer-title">Thông tin liên hệ</h3>
                    <div class="address">
                        <p class="icon-map"><i class="fa fa-map-marker"></i><strong>Địa chỉ :</strong> 268 Lý Thường Kiệt, Phường 14 </p>
                        <p class="road-details">Quận 10, TP. Hồ Chí Minh, Việt Nam</p>
                        <p><i class="fa fa-phone"></i><strong>phone :</strong> <a href="tel:+84 123 456 7890">+84 123 456 7890</a></p>
                        <p><i class="fa fa-envelope"></i><strong>email :</strong><a href="mailto:1633514@hcmut.edu.vn"> 1633514@hcmut.edu.vn</a></p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h3 class="footer-title">Kết nối với chúng tôi</h3>
                    <ul class="list-inline footer-social-list mt-0">
                        <li><a href="#"><i class="flaticon-twitter1"></i></a></li>
                        <li><a href="#"><i class="flaticon-facebook55"></i></a></li>
                        <li><a href="#"><i class="flaticon-linkedin11"></i></a></li>
                        <li><a href="#"><i class="flaticon-google116"></i></a></li>
                        <li><a href="#"><i class="flaticon-pinterest34"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copy-right pull-left">
                        <p>Copyright &copy; 2018. ĐỒ ÁN MÔN HỌC 3 - Được thực hiện bởi NGUYỄN TÔN HÙNG - 1633514.</p>
                    </div>

                    <div class="back-top pull-right">
                        <i class="fa fa-angle-up "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>