<header class="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo">
                    <a title="UrbanGrill" href="index.html">
                        <img id="logo" src="/frontend/img/logo.png" alt="UrbanGrill Logo">
                    </a>
                </div>
                <!-- /Logo -->
                <!-- =========================================
                Menu
                ========================================== -->
                <div class="navbar navbar-default mainnav">
                    <div class="navbar-header navbar-right pull-right">
                        <div id="offcanvas-trigger-effects" class="column">
                            <button type="button" class="navbar-toggle visible-sm visible-xs"
                                data-toggle="offcanvas"
                                data-target=".navbar-collapse"
                                data-placement="right"
                                data-effect="offcanvas-effect"> <i class="fa fa-bars"></i></button>
                        </div>
                        <!-- offcanvas-trigger-effects -->
                    </div>
                    <!-- .navbar-header -->

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown active"><a href="index.html">Trang chủ <i class="fa fa-angle-down"></i></a>
                                <div class="submenu-wrapper no-pointer-events submenu-wrapper-topbottom">
                                    <div class="submenu-inner submenu-inner-topbottom">
                                        <ul class="level-one dropdown-menu single-dropdown">
                                            <li><a href="http://uysys.com/ThemeRole/demo/urbangrill">Multi Page Style 1</a></li>
                                            <li><a href="http://uysys.com/ThemeRole/demo/urbangrill-v1.1">Multi Page Style 1</a></li>
                                            <li><a href="http://uysys.com/ThemeRole/demo/urbangrill-v1.4">Multi Page Style 1</a></li>
                                            <li><a href="http://uysys.com/ThemeRole/demo/urbangrill-v1.5">Multi Page Style 1</a></li>
                                            <li><a href="http://uysys.com/ThemeRole/demo/urbangrill-one-page">One Page Style 1</a></li>
                                            <li><a href="http://uysys.com/ThemeRole/demo/urbangrill-v1.3">One Page Style 2</a></li>
                                            <li><a href="http://uysys.com/ThemeRole/demo/urbanwine-v2.0">One Page Style 3</a></li>
                                        </ul>
                                    </div>
                                    <!-- .submenu-inner -->
                                </div>
                                <!-- .submenu-sub-wrapper -->
                            </li>
                            <li><a href="about-us.html">Giới thiệu</a></li>
                            <!-- Mega Menu -->
                            <li class="dropdown mega-menus"><a href="menu.html">Thực đơn<i class="fa fa-angle-down"></i></a>
                                <div class="submenu-wrapper no-pointer-events submenu-wrapper-topbottom megamenu-wrapper">
                                    <div class="submenu-inner  submenu-inner-topbottom megamenu-inner">
                                        <ul class="level2 dropdown-menu">
                                            <li>
                                                <div class="mega-content">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <ul>
                                                                <li class="dropdown-header">Menu - Main Course</li>
                                                                <li><a href="menu.html">Beetroot Collection</a></li>
                                                                <li><a href="menu.html">Lobster Ravioli</a></li>
                                                                <li><a href="menu.html">Pollo Farcito</a></li>
                                                                <li class="dropdown-header">Menu - Appetizer</li>
                                                                <li><a href="menu.html">organic Egg</a></li>
                                                                <li><a href="menu.html">Beetroot Collection</a></li>

                                                            </ul>
                                                        </div>
                                                        <!-- .col-sm-3 -->
                                                        <div class="col-sm-3">
                                                            <ul>
                                                                <li class="dropdown-header">Menu - Dessrts</li>
                                                                <li><a href="menu.html">Victoria Pineapple</a></li>
                                                                <li><a href="menu.html">Choconuts ‘Grand CRU</a></li>
                                                                <li><a href="menu.html">FFuililes a feuilles</a></li>
                                                                <li><a href="menu.html">Zucchini fritti</a></li>
                                                                <li><a href="menu.html">Herb sautéed potatoes</a></li>
                                                                <li><a href="menu.html">FFuililes a feuilles</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- .col-sm-3 -->
                                                        <div class="col-sm-3">
                                                            <ul>
                                                                <li class="dropdown-header">Menu - Drinks</li>
                                                                <li><a href="menu.html">White Wines</a></li>
                                                                <li><a href="menu.html">Krug Collection 1989</a></li>
                                                                <li><a href="menu.html">Port</a></li>
                                                                <li><a href="menu.html">Krug Collection</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- .col-sm-3 -->
                                                        <div class="col-sm-3">
                                                            <ul class="menu-carousel">
                                                                <li>
                                                                    <div id="myCarousel-menu" class="carousel slide" data-ride="carousel">
                                                                        <div class="carousel-inner">
                                                                            <div class="item active">
                                                                                <a href="menu.html"><img src="img/mega-menu-img.jpg" alt="product 1"></a>
                                                                            </div>
                                                                            <!-- End Item -->
                                                                            <div class="item">
                                                                                <a href="menu.html"><img src="img/mega-menu-img2.jpg" class="img-responsive" alt="product 2"></a>
                                                                            </div>
                                                                            <!-- End Item -->
                                                                            <div class="item">
                                                                                <a href="menu.html"><img src="img/mega-menu-img3.jpg" class="img-responsive" alt="product 3"></a>
                                                                            </div>
                                                                            <!-- End Item -->
                                                                            <div class="item">
                                                                                <a href="menu.html"><img src="img/mega-menu-img4.jpg" class="img-responsive" alt="product 4"></a>
                                                                            </div>
                                                                            <!-- End Item -->
                                                                        </div>
                                                                        <!-- End Carousel Inner -->
                                                                        <!-- Controls -->
                                                                        <a class="left carousel-control" href="#myCarousel-menu" data-slide="next"> <i class="fa fa-angle-left"></i></a>
                                                                        <a class="right carousel-control" href="#myCarousel-menu" data-slide="prev"><i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </li>
                                                                <!-- /.carousel -->
                                                                <li class="mega-carousel-more"><a href="#">View all Decorations <i class="fa fa-angle-double-right"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- .col-sm-3 -->
                                                    </div>
                                                    <!-- .row -->
                                                </div>
                                                <!-- .mega-content -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- .submenu-inner -->
                                </div>
                                <!-- .submenu-wrapper -->
                            </li>
                            <!-- /Mega Menu -->
                            <!-- Pages -->
                            <li><a href="reservation.html">Đặt bàn </a></li>
                            <li><a href="gallery.html">Hình ảnh </a></li>
                            <!-- Portfolio Pages -->
                            <li class="dropdown"><a href="events.html">Bản tin <i class="fa fa-angle-down"></i></a>
                                <div class="submenu-wrapper no-pointer-events submenu-wrapper-topbottom">
                                    <div class="submenu-inner submenu-inner-topbottom">
                                        <ul class="level-one dropdown-menu single-dropdown">
                                            <li><a href="events.html#year">Tin tức</a></li>
                                            <li><a href="events.html#summer">Sự kiện</a></li>
                                        </ul>
                                    </div>
                                    <!-- .submenu-inner -->
                                </div>
                                <!-- .submenu-sub-wrapper -->
                            </li>
                            <!-- /Portfolio Pages -->
                            <!-- Contact Pages -->
                            <li><a href="contact-us.html">Liên hệ</a></li>
                            <!-- /Contact Pages -->
                            <li><i id="search" class="flaticon-search74"></i></li>
                        </ul>
                        <!-- .navbar-nav -->
                    </div>
                    <!-- .navbar-collapse -->
                </div>
                <!-- .navbar -->
            </div>
            <!-- .col-xs-12 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</header>