<div class="offcanvas-menu offcanvas-effect  hidden-sm hidden-md hidden-lg">
    <button id="off-canvas-close-btn" class="close" type="button" aria-hidden="true" data-toggle="offcanvas">&times;</button>
    <h2>Danh mục</h2>
    <ul>
        <li><a href="index.html">Trang chủ</a></li>
        <li><a href="about-us.html">Giới thiệu</a></li>
        <li><a href="menu.html">Thực đơn</a></li>
        <li><a href="reservation.html">Đặt bàn</a></li>
        <li><a href="gallery.html">Hình ảnh</a></li>
        <li><a href="events.html">Bản tin</a></li>
        <li><a href="contact-us.html">Liên hệ</a></li>
    </ul>
</div>