<div class="popup-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="popup-wrapper">
                    <div class="row">
                        <div class="cross">
                            <p>X</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="container">
                                <P class="heading-top">Bạn có thể tìm kiếm vị trí của chúng tôi?</P>
                                <p class="heading">Địa chỉ</p>
                                <p>268 Lý Thường Kiệt, Phường 14,
                                    <br>Quận 10, TP. Hồ Chí Minh, Việt Nam</p>
                                <p class="heading">Email</p>
                                <p>xin vui lòng gửi email cho chúng tôi</p>
                                <p><strong>email:</strong><a href="mailto:1633514@hcmut.edu.vn">1633514@hcmut.edu.vn</a></p>
                                <p class="heading">Điện thoại</p>
                                <p>hãy gọi cho chúng tôi</p>
                                <p><strong>Tiếp nhận CSKH:</strong><a href="tel:+84963238714">+84 96 323 8714</a></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <P class="heading-top">Nhập địa chỉ hiện tại của bạn</P>
                            <p class="example">thử vị trí gần nhà hàng nhất, VD: 'ĐH Bách Khoa TP.HCM'</p>
                            <input type="text" id="start" onchange="calcRoute();" placeholder="Điền vị trí của bạn vào đây và nhấn 'Enter'">
                            <div id="map-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>