<div class="book-now-wrapper">
    <p class="toggle">Đặt bàn ngay</p>
    <div class="book-now ">
        <div class="book-form">
            <p>free &amp; instant online restaurant reservations</p>
            <form id="sidebar_form" action="php/reservation.php" method="post" name="sidebarForm">
                <div class="col-xs-12 col-sm-12">
                    <input class="form-control" type="text" name="name" placeholder="Họ và tên">
                </div>
                <div class="col-xs-12 col-sm-12">
                    <input class="form-control" type="text" name="phone" placeholder="Số điện thoại">
                </div>
                <div class="col-xs-12 col-sm-12">
                    <input id="email-sidebar" class="form-control" type="email" name="mail" placeholder="Địa chỉ e-mail">
                </div>
                <div class="col-xs-12 col-sm-12">
                    <input id="datepicker-sidebar" class="form-control" type="text" name="date" placeholder="Ngày">
                </div>
                <div class="col-xs-12 col-sm-12">
                    <input class="form-control" type="text" name="person-no" placeholder="Số người">
                </div>
                <div class="col-xs-12 col-sm-12">
                    <textarea class="form-control" rows="3" name="message" placeholder="Lời nhắn và yêu cầu đặc biệt"></textarea>
                </div>
                <div class="form-group col-xs-12">
                    <div id="sidebar_mail_success" class="success" style="display:none;">Tin nhắn của bạn đã được gởi đi thành công. </div>
                    <div id="sidebar_mail_fail" class="error" style="display:none;"> Rất tiếc, đã xảy ra lỗi khi gửi tin nhắn của bạn. </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <button id="send-message-sidebar" class="btn" type="submit">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>