<div class="search-wrapper">
    <div class="search-container">
        <div class="search-contents">
            <p class="close"><i class="fa fa-times"></i></p>
            <form>
                <input type="search" placeholder="Nhập từ khóa tìm kiếm tại đây">
                <button class="btn btn-primary btn-lg" type="submit">Tra cứu</button>
            </form>
        </div>
    </div>
</div>