<!--===| Event Start|===-->
<section class="event-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>event</h1>
                <p class="slogan">fresh and healthy food available</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="join-event comingevent">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="events-details.html"><img src="img/blog-01.jpg" alt="Blog 01"></a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="content-holder">
                                <p class="upcoming">Upcoming Event</p>
                                <h2><a href="events-details.html">live concert 2015</a></h2>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eos suscipit earum voluptas aliquam recusandae, quae iure adipisci.</P>
                                <p id="countdown">CountDown</p>

                                <address>
                                    <strong>Place: </strong>
                                    Hall of Frame
                                    <br>
                                    <strong>Date & Time: </strong>
                                    <span id="event1">24 Sep 2015</span> &nbsp23:59:59
                                </address>
                                <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-event">
                    <a href="events-details.html"><img src="img/blog-02.jpg" alt="Blog 02"></a>
                    <div class="content-holder">
                        <h2><a href="events-details.html">Birthday Celebration</a></h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit</P>
                        <address>
                            <strong>Place: </strong>
                            Bar Room
                            <br>
                            <strong>Date & Time: </strong>
                            <span id="event2">28 Sep 2015</span> &nbsp17:30:29
                        </address>
                        <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-event">
                    <a href="events-details.html"><img src="img/blog-03.jpg" alt="Blog 03"></a>
                    <div class="content-holder">
                        <h2><a href="events-details.html">BIUB convocation</a></h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit</P>
                        <address>
                            <strong>Place: </strong>
                            Hall of Frame
                            <br>
                            <strong>Date & Time: </strong>
                            <span id="event3">30 Sep 2015</span> &nbsp14:30:29
                        </address>
                        <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="join-event">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="events-details.html"><img src="img/blog04.jpg" alt="Blog 04"></a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="content-holder">
                                <h2><a href="events-details.html">HSCP Seminar 2015</a></h2>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eos suscipit earum voluptas aliquam recusandae, quae iure adipisci, inventore quia, quos delectus quaerat praesentium id expedita nihil illo accusantium, tempora.</p>
                                <p class="hidden-sm">Labore eos suscipit earum voluptas aliquam recusandae, quae iure adipisci, inventore quia, quos delectus quaerat praesentium id expedita nihil illo accusantium, tempora.</P>
                                <address>
                                    <strong>Place: </strong>
                                    Hall of Vinch
                                    <br>
                                    <strong>Date & Time: </strong>
                                    <span id="event4">01 Oct 2015</span>  &nbsp11:30:29
                                </address>
                                <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===| Event End|===-->