<!--===| Food Menu Start ===|-->
<section class="section-padding food-menu-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Thực đơn món ăn</h1>
                <strong class="slogan">Thực phẩm tươi và có lợi cho sức khỏe  </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2 class="item-name">Appetizer</h2>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-01.png" alt="Food Menu 01">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>Bacon Ranch Salad<span>$8</span></h2>
                        <p>Premium Bacon Ranch Salad</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-02.png" alt="Food Menu 02">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>Salad with Crispy Chicken <span>$21</span></h2>
                        <p>Salad with Crispy Chicken</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-03.png" alt="Food Menu 03">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>Southwest Salad <span>$11</span></h2>
                        <p>Salad with Grilled Chicken </p>
                    </div>
                    <!--/.media body-->
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-xs-12 col-md-6">
                <h2 class="item-name responsive">main course</h2>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-04.png" alt="Food Menu 04">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>ORGANIC EGG <span>$48</span></h2>
                        <p>Ratte potato, chorizo iberico, buckwheat</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-05.png" alt="Food Menu 05">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>BEETROOT COLLECTION <span>$61</span></h2>
                        <p>‘Burrata artigiana’, honeycomb, horseradish </p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-06.png" alt="Food Menu 06">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>CONFIT RAINBOW TROUT <span>$39</span></h2>
                        <p>Kurobuta pork, miso caramel, yuzu</p>
                    </div>
                    <!--/.media body-->
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2 class="item-name">desserts</h2>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-07.png" alt="Food Menu 07">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>VICTORIA PINEAPPLE<span>$35</span></h2>
                        <p>Coconut sablé, fromage blanc, passionfruit</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-08.png" alt="Food Menu 08">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>CHOCONUTS ‘GRAND CRU <span>$35</span></h2>
                        <p>Tastes &amp; textures </p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-09.png" alt="Food Menu 09">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>GARIGUETTES’ STRAWBERRY FEUILLES <span>$11</span></h2>
                        <p>Confit lemon, filo pastry, fromage blanc </p>
                    </div>
                    <!--/.media body-->
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-xs-12 col-md-6">
                <h2 class="item-name responsive">drinks</h2>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-10.png" alt="Food Menu 10">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>White Wines <span>$135</span></h2>
                        <p>France - Bourgogne / Alsace</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-11.png" alt="Food Menu 11">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>Red Wine <span>$211</span></h2>
                        <p>Barolo " Monvigliero ", Fratelli Alessandria, Italy</p>
                    </div>
                    <!--/.media body-->
                </div>
                <div class="media menu-media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img src="img/fm-12.png" alt="Food Menu 12">
                        </a>
                    </div>
                    <!-- media left-->
                    <div class="media-body">
                        <h2>port<span>$131</span></h2>
                        <p>Jacques Selosse, Exquise, Grand Cru</p>
                    </div>
                    <!--/.media body-->
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <div class="btn-wrapper">
        <a class="btn" href="menu.html">Xem tất cả thực đơn</a>
    </div>
</section>
<!--==| Food Menu Start |==-->