<!--====| Gallery Start |====-->
<section class="galleri-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Thư viện</h1>
                <p class="slogan">fresh and healthy food available</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-01.jpg" alt="Gallery 01" />
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-01.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-02.jpg" alt="Gallery 02">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-02.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-03.jpg" alt="Gallery 03">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-03.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-04.jpg" alt="Gallery 04">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-04.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-05.jpg" alt="Gallery 05">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-05.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-06.jpg" alt="Gallery 06">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-06.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-07.jpg" alt="Gallery 07">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-07.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="grid">
                            <figure class="effect-cheff gallary-image">
                                <img src="img/gallery-08.jpg" alt="Gallery 08">
                                <figcaption>
                                    <div class="gallary-hover-text">
                                        <a class="yellow-bar fancybox" href="img/pop-up/gellary-08.jpg" data-fancybox-group="gallery"><i class="fa fa-plus"></i></a>
                                        <p>chicken seasoned with herbs</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====| Gallery End |====-->