<!--===| Service Start ===|-->
<section class="services">
    <div class="services-overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                    <h1>Dịch vụ liên quan</h1>
                    <p class="slogan">Sự mới mẽ và sức khỏe trong từng món ăn </p>
                    <ul id="myTab" class="nav nav-tabs">
                        <li><a href="#tab-features" data-toggle="tab" aria-expanded="true"><i class="fa fa-wifi"></i><br>Miễn phí Wifi</a></li>
                        <li class="active"><a href="#extra" data-toggle="tab" aria-expanded="false"><i class="fa fa-taxi"></i><br>Miễn phí gửi xe</a></li>
                        <li><a href="#home-delivery" data-toggle="tab" aria-expanded="false"><i class="fa fa-bicycle"></i><br>Giao món tận nơi</a></li>
                        <li><a href="#custom" data-toggle="tab" aria-expanded="false"><i class="fa fa-cubes"></i><br>Khu vui chơi</a></li>
                    </ul>
                    <div class="panel-group visible-xs" id="myTab-accordion"></div>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade" id="tab-features">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">Chúng tôi quan tâm đến trải nghiệm khách hàng </a></h2>
                                    <p>Tận hưởng wifi tốc độ cao miễn phí. Đơn giản chỉ cần nhấp vào Urbngrill wifi và yêu cầu bất kỳ nhân viên của chúng tôi để biết chi tiết đăng nhập. Giờ đây, bạn có thể thưởng thức video và tải xuống liên tục nhiều như những gì bạn muốn ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade active in" id="extra">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">Chúng tôi có khu vực đậu xe miễn phí và an ninh</a></h2>
                                    <p>Urbangrill cung cấp cho khách hàng các dịch vụ đỗ xe cho khách, góp phần mang lại trải nghiệm ăn uống tổng thể tích cực. Bằng cách này bạn không phải lãng phí thời gian tìm kiếm một chỗ đậu xe ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="home-delivery">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">Chúng tôi cung cấp dịch vụ giao món tận nơi</a></h2>
                                    <p>Dịch vụ giao hàng tại nhà của chúng tôi cho phép bạn đặt món ăn yêu thích của mình để bạn có thể thưởng thức nó từ sự thoải mái như ở nhà, cách tốt nhất để đánh bại rào cản về mặt giao thông ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="custom">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">Chúng tôi có khu vực vui chơi an toàn</a></h2>
                                    <p>Hãy tận hưởng trải nghiệm ăn uống của bạn khi biết rằng con bạn được vui chơi lành mạnh và an toàn trong sân chơi của chúng tôi. Chúng tôi có một loạt các đồ chơi của trẻ em để giữ cho chúng bận rộn trong khi bạn ăn cơm trưa ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.tan-content-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--===| Service End ===|-->