<!--===| Start Signature Dishes Start|===-->
<section class="section-padding signature-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>signature dishes</h1>
                <p class="slogan">fresh and healthy food available</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-wrap">
                    <div id="owl-dishes" class="owl-carousel">
                        <div class="feature-image">
                            <img src="img/s-dish-01.jpg" alt="Signature Dishes 01">
                            <h2>orange beef</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>

                        <div class="feature-image">
                            <img src="img/s-dish-02.jpg" alt="Signature Dishes 02">
                            <h2>chicken for two roasted</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>
                        <div class="feature-image">
                            <img src="img/s-dish-03.jpg" alt="Signature Dishes 03">
                            <h2>black cod with miso</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>

                        <div class="feature-image">
                            <img src="img/s-dish-01.jpg" alt="Signature Dishes 01">
                            <h2>orange beef</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>
                        <div class="feature-image">
                            <img src="img/s-dish-02.jpg" alt="Signature Dishes 02">
                            <h2>chicken for two roasted</h2>
                            <p>There was a time when Chinese food in this country meant (Americanized) Cantonese food.</p>
                            <p class="price">price: <span>$135</span></p>
                        </div>
                    </div>
                    <!-- /.owl-carousel -->
                    <div class="owl-controls">
                        <a class="next"><i class="flaticon-arrow427"></i></a>
                        <a class="prev"><i class="flaticon-arrow413"></i></a>
                    </div>
                </div>
                <!-- /.owl-wrap -->
            </div>
        </div>
    </div>
</section>
<!--====| End Signature Dishes End|====-->