<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE  -->
            <% @sliders.each do |slider| %>
                <li data-transition="slotfade-horizontal" data-slotamount="1" data-masterspeed="500" data-title="Maki Sushi">
                    <!-- MAIN IMAGE -->
                    <img src="img/slider.jpg" alt="slidebg1" data-lazyload="<%= image_tag(slider.image_url) %>" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme sft start" data-x="400" data-y="245" data-speed="2000" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  font-family: 'Merriweather', sans-serif; font-size: 33px; font-style: italic;"><span>Welcome to</span>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme sft" data-x="360" data-y="300" data-speed="1000" data-start="2400" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;font-family : 'Playball', sans-serif;font-size: 91px; letter-spacing: 3px; color: #fff;">Urbangrill
                    </div>
    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme sft" data-x="390" data-y="365" data-speed="1000" data-start="2700" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  font-family: 'Roboto', sans-serif;text-transform: uppercase; font-size: 16px;letter-spacing: 3px; color: #fff;">nỗ lực mang đến cho khách hàng những trải nghiệm tuyệt vời nhất
                    </div>
                </li>
            <% end %>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>