<!--===| Testimonial Start|===-->
<section class="section-padding testimonial-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <h1>ý kiến khách hàng</h1>
                <div id="testimonial" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="/frontend/img/testimonial-01.jpg" alt="testimonial 01">
                            <p>
                              Thiết kế thực đơn kết hợp với những hình ảnh thực tế của mỗi món giúp bạn dễ dàng lựa chọn.
                              Tất cả các món ăn đều mang màu sắc , hương vị thanh tịnh, thuần khiết nhưng không hề đơn điệu, đậm đà và rất kích thích vị giác.
                            </p>
                            <blockquote> oni Perry</blockquote>
                        </div>
                        <div class="item">
                            <img src="/frontend/img/testimonial-01.jpg" alt="testimonial 02">
                            <p>
                              Thiết kế thực đơn kết hợp với những hình ảnh thực tế của mỗi món giúp bạn dễ dàng lựa chọn.
                              Tất cả các món ăn đều mang màu sắc , hương vị thanh tịnh, thuần khiết nhưng không hề đơn điệu, đậm đà và rất kích thích vị giác.
                            </p>
                            <blockquote> steve john</blockquote>
                        </div>
                        <div class="item">
                            <img src="/frontend/img/testimonial-01.jpg" alt="testimonial 03">
                            <p>
                              Thiết kế thực đơn kết hợp với những hình ảnh thực tế của mỗi món giúp bạn dễ dàng lựa chọn.
                              Tất cả các món ăn đều mang màu sắc , hương vị thanh tịnh, thuần khiết nhưng không hề đơn điệu, đậm đà và rất kích thích vị giác.
                            </p>
                            <blockquote> Lisa morgan</blockquote>
                        </div>
                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonial" data-slide-to="1"></li>
                        <li data-target="#testimonial" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===| Testimonial End|===-->