<!--===| Welcome Area Start===|-->
<section class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="welcome-note text-center">
                    <h1>Welcome</h1>
                    <h2> to urbangrill</h2>
                    <p class="note"><strong>Urbangrill - mang đậm bản sắc xứ Thanh</strong></p>
                    <p>Giữa Sài Gòn phồn hoa đô thị đầy sự lo toan, hối hả cho công việc, ai cũng muốn từng giây từng phút được cảm nhận sự nhẹ nhàng, dịu dàng của thiên nhiên, cái nhè nhẹ của nhạc du dương trong bữa cơm hàng ngày. Đó là yếu tố giúp người ta ăn ngon miệng và thư giãn sau những giờ làm việc căng thẳng. Urbangrill luôn đặc biệt trong chính cách sắp xếp không gian và lựa chọn màu sắc chủ đạo.</p>
                    <p>Urbangrill ẩn mình trong mảnh đất được mệnh danh là Hòn Ngọc Viễn Đông, đường vào nhà hàng có cái gì đó thân quen như lối cũ về nhà bạn. Đón tiếp bằng sự niềm nở ân cần bằng lời nói, cử chỉ cởi mở, nhiệt tình.. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===| Welcome Area End===|-->