<!--===| About Us Banner Start|===-->
  <section class="banner-wrapper about-banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>giới thiệu</h1>
          <p>tự hào được phục vụ</p>
        </div>
      </div>
    </div>
  </section>
  <!--===| About Us Banner End|===-->
  <!--===| Our Story Start|===-->
  <section class="section-padding main-story-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <div class="story-wrapper">
                        <h2>Về chúng tôi</h2>
                        <p class="slogan">Tự hào được phục vụ</p>
                        <p class="contents text-justify">
                            Giữa Sài Gòn phồn hoa đô thị đầy sự lo toan, hối hả cho công việc, ai cũng muốn từng giây từng phút được cảm nhận sự nhẹ nhàng, dịu dàng của thiên nhiên, cái nhè nhẹ của nhạc du dương trong bữa cơm hàng ngày.
                            Đó là yếu tố giúp người ta ăn ngon miệng và thư giãn sau những giờ làm việc căng thẳng. Urbangrill ẩn mình trong mảnh đất được mệnh danh là "Hòn Ngọc Viễn Đông", đường vào nhà hàng có cái gì đó thân quen như
                            lối cũ về nhà bạn. Đón tiếp bằng sự niềm nở ân cần bằng lời nói, cử chỉ cởi mở, nhiệt tình. Urbangrill luôn hướng thiền phật trong chính cách sắp xếp không gian và lựa chọn màu sắc chủ đạo. Những bộ bàn ghế
                            mộc mạc, không lệch pha với tông màu nâu sậm của những mảng tường và đồng phục nhân viên tạo nên không khí trầm lặng, sâu sắc. Chọn góc bàn gần cửa sổ bạn có thể giao hòa với thiên nhiên bên ngoài ngay khi
                            đang ngồi trong phòng lạnh. </p>
                        <p class="owner-info">Nguyễn Tôn Hùng</p>
                        <p class="designation">Giám đốc sáng lập</p>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-5">
                    <div class="row">
                        <div class="col-xs-12 story-img">
                            <img src="/frontend/img/about_us.jpg" alt="Giới thiệu">
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <img src="/frontend/img/about_us.jpg" alt="Giới thiệu">
                                </div>
                                <div class="col-xs-6">
                                    <img src="/frontend/img/about_us.jpg" alt="Giới thiệu">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </section>
  <!--===| Our Story End|===-->